* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 0 10% 0 10%;
  text-align: center;
}

/* Board Styling */
.board {
  width: 100%;
  justify-content: center;
  margin: 30px 0 0 0;
  display: grid;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 3px;
  background-color: black;
  width: min-content;
  height: min-content;
  border: 3px solid black;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.left-buttons,
.right-buttons,
.top-buttons,
.bottom-buttons {
  display: flex;
  justify-content: center;
  gap: 0px;
}

.left-buttons,
.right-buttons {
  width: min(7vw, 7vh);
}

.top-buttons,
.bottom-buttons {
  height: min(7vw, 7vh);
}

.left-buttons {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  flex-direction: column;
}

.right-buttons {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  flex-direction: column;
}

.top-buttons {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  flex-direction: row;
}

.bottom-buttons {
  grid-column: 2 / span 2;
  grid-row: 4;
  flex-direction: row;
}

.top-buttons .rotate-btn {
  border-bottom: none;
}

.top-buttons .rotate-btn:nth-child(1) {
  border-top-left-radius: 20px;
  border-right: none;
}

.top-buttons .rotate-btn:nth-child(2) {
  border-top-right-radius: 20px;
}

.left-buttons .rotate-btn {
  border-right: none;
}

.left-buttons .rotate-btn:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom: none;
}

.left-buttons .rotate-btn:nth-child(2) {
  border-bottom-left-radius: 20px;
}

.right-buttons .rotate-btn {
  border-left: none;
}

.right-buttons .rotate-btn:nth-child(1) {
  border-top-right-radius: 20px;
  border-bottom: none;
}

.right-buttons .rotate-btn:nth-child(2) {
  border-bottom-right-radius: 20px;
}

.bottom-buttons .rotate-btn {
  border-top: none;
}

.bottom-buttons .rotate-btn:nth-child(1) {
  border-bottom-left-radius: 20px;
  border-right: none;
}

.bottom-buttons .rotate-btn:nth-child(2) {
  border-bottom-right-radius: 20px;
}

.rotate-btn {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  background-color: rgb(151, 177, 226);
}

.rotate-btn:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.cell {
  display: flex;
  width: min(10vw, 10vh);
  height: min(10vw, 10vh);
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(7vw, 7vh);
}

.cell:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.cell.pink {
  background-color: pink;
}

.cell.green {
  color: white;
  background-color: green;
}

.cell.red {
  color: white;
  background-color: red;
}

.cell.yellow {
  background-color: yellow;
}

.cell.blue {
  background-color: blue;
  color: white;
}

.cell.white {
  background-color: white;
}

.right-arrow {
  background-image: url("images/right-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.left-arrow {
  background-image: url("images/left-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.up-arrow {
  background-image: url("images/up-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.down-arrow {
  background-image: url("images/down-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.end {
  border: 7px solid rgb(9, 255, 0);
  margin: -7px;
  border-radius: 10px;
  z-index: 1;
  box-sizing: content-box;
}

.start {
  border: 7px solid violet;
  margin: -7px;
  border-radius: 10px;
  z-index: 2;
  box-sizing: content-box;
}

.hidden {
  display: none !important;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 3;
}

.lightbox-content {
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  justify-items: center;
  align-items: center;
  text-align: center;
}
